<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head',{
        title : 'Nuevo producto'
    })  %> 


<body class="register">
    <%- include('./partials/header_admin') %> 

    <main>
        <section>
            <div class="d-flex justify-content-between">
                <h2>Agregar Producto</h2>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="visible" name="visible" checked>
                        <label class="form-check-label" for="visible">
                          Visible
                        </label>
                      </div>
            </div>
            <hr>
            <form method="POST" action="" enctype="multipart/form-data">
                <article>
                    
                <div class="register__form-box">
                    <label for="name">Nombre del producto</label>
                    <input class="register__form-input form-control <%= locals.errors && errors.name ? 'is-invalid' : null%>" type="text" id="name" name="name" value="<%= locals.old && old.name ? old.name : null%>">
                    <span class="text-danger"><%= locals.errors && errors.name ? errors.name.msg : null%> </span>
                </div>
                <div class="register__form-box">
                    <label for="price">Precio</label>
                    <input class="register__form-input form-control <%= locals.errors && errors.price ? 'is-invalid' : null%>" type="number" id="price" name="price" value="<%= locals.old && old.price ? old.price : null%>">
                    <span class="text-danger"><%= locals.errors && errors.price ? errors.price.msg : null%> </span>
                </div>
         
                <div class="register__form-box">
                        <label for="category">Categorias</label>
                        <select class="register__form-select form-control <%= locals.errors && errors.category ? 'is-invalid' : null%>" name="category" id="category">
                            <option value="" hidden selected>Selecciona la categoría...</option>
                          <% categories.forEach(category => { %>
                            <option <%= locals.old && old.category && +old.category === +category.id ? 'selected' : null %>  value="<%= category.id %>"><%= category.name %></option>
                          <% }) %>
                        </select>
                        <span class="text-danger"><%= locals.errors && errors.category ? errors.category.msg : null%> </span>
                </div>
                <div class="register__form-box">
                    <label for="origin">Origen</label>
                    <select class="register__form-select form-control <%= locals.errors && errors.origin ? 'is-invalid' : null%>" name="origin" id="origin">
                        <option value="" hidden selected>Selecciona el origen...</option>
                        <option  <%= locals.old && old.origin && old.origin === "china" ? 'selected' : null %>   value="china">China</option>
                        <option <%= locals.old && old.origin && old.origin === "brasil" ? 'selected' : null %> value="brasil">Brasil</option>
                        <option <%= locals.old && old.origin && old.origin === "Estados Unidos" ? 'selected' : null %> value="Estados Unidos">Estados Unidos</option>
                        <option <%= locals.old && old.origin && old.origin === "Taiwan" ? 'selected' : null %> value="Taiwan">Taiwan</option>
                    </select>
                    <span class="text-danger"><%= locals.errors && errors.origin ? errors.origin.msg : null%> </span>
                </div>
                <div class="register__form-box">
                    <label for="state">Estado</label>
                    <select class="register__form-select form-control <%= locals.errors && errors.state ? 'is-invalid' : null%>" name="state" id="state">
                        <option value="" hidden selected>Selecciona el origen...</option>
                        <option <%= locals.old && old.state && old.state === "nuevo" ? 'selected' : null %> value="nuevo">Nuevo</option>
                        <option <%= locals.old && old.state && old.state === "refaccionado" ? 'selected' : null %> value="refaccionado">Refaccionado</option>
                    </select>
                    <span class="text-danger"><%= locals.errors && errors.state ? errors.state.msg : null%> </span>
                </div>
                <div class="register__form-box">
                  <label for="image">Imagen</label>
                  <input class="register__form-input" type="file" id="image" name="image" accept="image/*" multiple>
              </div>
              
            </article>
               
            <div class="register__form-box d-flex justify-content-end align-items-end">
                <button type="reset" class="me-2 btn btn-secondary">Limpiar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
                </div>
            </form>
        </section>

    </main>

</body>

</html>