<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head',{
    title : 'Detalle del producto'
})  %> 

<body class="detail">
    <%- include('./partials/header') %> 

    <main class="container mt-4">
        <section class="row">
            <article class="col-12 col-md-10 col-lg-8 mx-auto">
                <div class="card">
                    <div class="row">
                        <div class="col-12 col-md-5 col-lg-5">
                            <div class="card-body">
                                <img src="/images/<%= product.img[0] %>" class="img-fluid" alt="..." id="imgMaster">
                                <div class="d-flex mt-2">
                                    <% product.img.forEach(image => { %>
                                        <img style="width: 33.3%;" src="/images/<%= image %>" alt="..." onclick="document.getElementById('imgMaster').src = this.src">
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-7 col-lg-7">
                            <div class="card-body">
                                <h5 class="card-title"><%= product.name %></h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <h6>Caractarísticas</h6>  
                                <hr>
                            <ul class="list-group list-group-flush">
                                <% if (product.features) { %>
                                    <% product.features.forEach(feature => { %>
                                        <% if (typeof feature === "boolean") { %>
                                            <% if (feature === true) { %>
                                            <li class="list-group-item">Original</li>
                                            <% }else{ %>
                                                <li class="list-group-item">Alternativo</li>
                                            <% } %>
                                        <% }else{ %>
                                            <li class="list-group-item"><%= feature %></li>
                                        <% } %>
                                    <% }) %>
                                <% }else{ %>
                                <li class="list-group-item">No hay caracteristicas</li>

                                <% } %>
                             
                              </ul>
                            </div>
               
                              <div class="card-body d-flex flex-column flex-md-row align-items-md-center justify-content-end">
                               
                                <a href="#" class="btn btn-outline-primary m-1">Agregar al carrito</a>
                              </div>
                        </div>
                    </div>

                  </div>
            </article>
        </section>
    </main>
</body>
</html>