<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head',{ title : 'Home' }) %>

    <body class="index">

        <%- include('./partials/header') %>

            <main class="container mt-5">
                <div class="row">
                    <h2>Resultado de la búsqueda: "<%= keyword %>"</h2>
                    <% if (products.length > 0) { %>
                        <% products.forEach(({id,name,price,category,img}) => { %>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="card">
                                    <img src="/images/<%= img %>" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title"><%= name %></h5>
                                        <% namesCategories.forEach(element => { %>
                                            <p class="card-muted"><%= element.id === category ? element.name : null %></p>
                                        <% }) %>
                                        <a href="/products/detail/<%= id %>" class="btn btn-primary">Ver más</a>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    <% }else{ %>
                        <div class="alert alert-warning mt-1">
                            No se encontraron resultados
                        </div>
                    <% } %>
                  
                  

                </div>
            </main>
            <%- include('./partials/footer') %>

    </body>

</html>